# Binaries
zapstore
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
/build/
/dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environment
.env
