name: zapstore_cli
description: The permissionless social package manager
version: 0.2.4 # (!) Also update kVersion AND zapstore.yaml (!)
repository: https://github.com/zapstore/zapstore-cli

environment:
  sdk: ^3.8.1

dependencies:
  archive: ^4.0.7
  apk_parser: ^0.1.1
  args: ^2.5.0
  cli_spin: ^1.0.1
  collection: ^1.18.0
  crypto: ^3.0.6
  dotenv: ^4.2.0
  html2md: ^1.3.2
  http: ^1.2.2
  interact_cli: ^2.3.0
  meta: ^1.16.0
  mime: ^2.0.0
  path: ^1.9.0
  models: ^0.3.3
  purplebase: ^0.3.3
  process_run: ^1.0.0+1
  riverpod: ^2.5.1
  tint: ^2.0.1
  universal_html: ^2.2.4
  yaml: ^3.1.3
  convert: ^3.1.2
  nip07_signer: ^0.1.1
  json_path: ^0.7.5
  file_magic_number: ^0.7.2
  ffi: ^2.1.4
  intl: ^0.20.2
  dart_emoji: ^0.2.0+2
  markdown: ^7.3.0
  qr_terminal: ^1.1.1

dependency_overrides:
  apk_parser:
    # path: ../apk_parser
    git:
      url: https://github.com/zapstore/apk_parser
      ref: 438ad4a
  # patched dart_console to use stderr
  dart_console:
    git:
      url: https://github.com/zapstore/dart_console
      ref: b365647d9292af547baf7e6fc0b479914ce1fc84
  models:
    # path: ../../purplebase/models
    git:
      url: https://github.com/purplebase/models
      ref: main
  purplebase:
    # path: ../../purplebase/purplebase
    git:
      url: https://github.com/purplebase/purplebase
      ref: master
  nip07_signer:
    # path: ../../purplebase/nip07_signer
    git:
      url: https://github.com/purplebase/nip07_signer
      ref: main

dev_dependencies:
  lints: ^3.0.0
  test: ^1.24.0
